body {
  height: 100%;
  background: rgb(225, 91, 74);
  background: -webkit-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:    -moz-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:      -o-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:     -ms-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:         linear-gradient(450deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background-size: 137% 148%;
  font-size: 1em;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.image-1 {
  float: left;
  width: 429px;
  margin: 90px 0 0 100px;
}

.image-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 1528px;
  margin: 83px 0 0 -14.2500000001%;
}

.image-3 {
  position: absolute;
  float: right;
  width: 506px;
  margin: 64px 0 0 700px;
}

@media(max-width: 1050px) {
.image-1 {
  float: left;
  width: 400px;
  margin: 90px 0 0 50px;
}

  .image-2 {
    position: relative;
    z-index: 0;
    width: 1400px;
    margin-top: 91px;
    margin-left: -24.5714285715%;
  }

.image-3 {
  position: absolute;
  float: left;
  width: 480px;
  margin: 64px 0 0 540px;
}

@media(max-width: 960px) {
.image-1 {
  float: left;
  margin: 90px 0 0 20px;
}

  .image-2 {
    position: relative;
    z-index: 0;
    width: 1250px;
    margin-top: 79px;
    margin-left: -25%;
  }

.image-3 {
  position: absolute;
  float: left;
  width: 400px;
  margin: 76px 0 0 480px;
}
}

@media(max-width: 790px) {
  .image-1 {
    position: absolute;
    float: none;
    top: 42px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1200px;
    margin-top: 300px;
    margin-left: -25%;
  }

  .image-3 {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    margin-left: 25%;
  }
}

@media(max-width: 720px) {
  body {
    font-size: 1em;
  }
  .image-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1000px;
    margin-top: 300px;
    margin-left: -35%;
  }

  .image-3 {
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 640px) {
  .image-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1000px;
    margin-top: 300px;
    margin-left: -220px;
  }

  .image-3 {
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 480px) {
  .image-1 {
    left: 0;
    right: 0;
    background-size: 90% 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 700px;
    margin-top: 300px;
    margin-left: -170px;
  }

  .image-3 {
    left: 0;
    right: 0;
    width: 360px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 320px) {
  .image-1 {
    left: 0;
    right: 0;
    background-size: 300px 53px;
    margin-right: auto;
    margin-left: 10px;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 700px;
    margin-top: 300px;
    margin-left: -170px;
  }

  .image-3 {
    left: 0;
    right: 0;
    width: 310px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}
}