body {
  height: 100%;
  background: rgb(225, 91, 74);
  background: -webkit-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:    -moz-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:      -o-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:     -ms-linear-gradient(0deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background:         linear-gradient(450deg, rgb(225, 91, 74) 26.547619047619047%, rgb(225, 124, 74) 100%) rgb(255, 255, 255);
  background-size: 137% 148%;
  font-size: 1em;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.image-1 {
  float: left;
  width: 429px;
  margin: 98px 0 0 9.4166666666%;
}

.image-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 1528px;
  margin: 83px 0 0 -14.2500000001%;
}

.image-3 {
  position: relative;
  float: right;
  clear: both;
  z-index: 1;
  width: 506px;
  margin: -1100px 6.5% 0 0;
}

@media(max-width: 1050px) {
  .image-1 {
    width: 380px;
    margin-top: 76px;
    margin-left: 6.3809523809%;
  }

  .image-2 {
    position: relative;
    z-index: 0;
    width: 1552px;
    margin-top: 91px;
    margin-left: -24.5714285715%;
  }

  .image-3 {
    position: relative;
    z-index: 1;
    width: 462px;
    margin-top: -1110px;
    margin-right: 4.7619047619%;
  }
}

@media(max-width: 960px) {
  body {
    font-size: 1em;
  }
  .image-1 {
    margin-top: 42px;
    margin-left: 5.625%;
  }

  .image-2 {
    position: relative;
    z-index: 0;
    width: 1447px;
    margin-top: 79px;
    margin-left: -25%;
  }

  .image-3 {
    position: relative;
    z-index: 1;
    width: 393px;
    margin-top: -1030px;
    margin-right: 3.2291666666%;
  }
}

@media(max-width: 790px) {
  .image-1 {
    position: absolute;
    float: none;
    top: 42px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1200px;
    margin-top: 300px;
    margin-left: -25%;
  }

  .image-3 {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    margin-left: 25%;
  }
}

@media(max-width: 720px) {
  body {
    font-size: 1em;
  }
  .image-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1200px;
    margin-top: 300px;
    margin-left: -35%;
  }

  .image-3 {
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 640px) {
  .image-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1200px;
    margin-top: 300px;
    margin-left: -45%;
  }

  .image-3 {
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1em;
  }
  .image-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image-2 {
    position: relative;
    clear: none;
    z-index: 0;
    width: 1000px;
    margin-top: 300px;
    margin-left: -300px;
  }

  .image-3 {
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}
}